<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn VueJS</title>
</head>

<body>
    <div id="root">
        
        <input type="text" v-model="newName">
        <button @click="addName">Add name</button>
        
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
    </div>

    <!-- SCRIPTS -->
    <script src="/node_modules/vue/dist/vue.js"></script>

    <script>
        const app = new Vue({
            el: '#root',

            data: {
                names: ['Joe', 'Emma', 'Angela', 'Simon'],
                newName: '',
            },

            methods:{
                addName() {
                    this.names.push(this.newName);
                    this.newName = '';
                }
            },
        });
    </script>
</body>

</html>
