<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn VueJS</title>

    <style>
    .color-red {
        color: red;
        }

    .is-loading {
        background: red;
    }
    </style>
</head>

<body>
    <div id="root">

        <h1 :class="className">Red Heading</h1>

        <input type="text" v-model="newName">
        <button @click="toggleClass" :title="attrTitle" :class="{ 'is-loading': isLoading }">Add name</button>

        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
    </div>

    <!-- SCRIPTS -->
    <script src="/node_modules/vue/dist/vue.js"></script>

    <script>
        const app = new Vue({
            el: '#root',

            data: {
                names: ['Joe', 'Emma', 'Angela', 'Simon'],
                newName: '',
                attrTitle: "This has been set in't data!",
                className: 'color-red',
                isLoading: false,
            },

            methods: {
                addName() {
                    this.names.push(this.newName);
                    this.newName = '';
                },

                toggleClass() {
                    this.isLoading = true;
                }
            },
        });
    </script>
</body>

</html>
